
<div class="ui basic segment">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 login">
			<div class="paper box">
				<h2><%= __("Login") %></h2>

				<div class="ui form login text-center">
					<div class="ui input field left icon">
						<i class="ifc-user_male3 icon"></i>
						<input type="text" name="username" placeholder="<%= __("username") %>">
					</div>
					<div class="ui input field left icon">
						<i class="ifc-password icon"></i>
						<input type="password" name="password" placeholder="<%= __("password") %>">
					</div>
					<div id="message"></div>
					<div class="ui button basic submit">
						<%= __("Login") %>
					</div>
				</div>
			</div>
			<div class="ui divider horizontal">
				<%= __("or") %>
			</div>
			<div class="text-center">
				<a href="/register" class="waves-effect waves-button register-btn">
					<%= __("Register") %>
				</a>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

<script>
	var i18n = {
		requiredField: "<%= __('this required field') %>",
		username: "<%= __('username') %>",
		password: "<%= __('password') %>",
		login: "<%= __('Login') %>",

		serverError: "<%= __("Have any server error. Check the connection to the Internet and try again.") %>",
		authFailed: "<%= __("Authorization failed, please check the data entered, or register.") %>",
		authSuccess: "<%= __("You have successfully logged into the system. Redirect...") %>"
	};
</script>

<script src="/js/auth/login.js"></script>