<script async>window.username = "<%= req.param("username") %>";</script>

<style>
	.profile.header {
		background: url('<%= user.headingImg %>') no-repeat !important;
	}

	.profile.page .blured {
		background: url('<%= user.navbarBg %>') no-repeat;
		position: absolute;
		height: 60px;
		width: 100%;
		z-index: 5;	
	}
</style>

<div class="page profile" ng-controller="ProfileCtrl">

	<!-- Header Profile -->
	<div class="profile header">
		<%- partial("../partials/menu.ejs") %>
	</div>

	<!-- Content -->
	<div class="ui basic segment ProfileMain"> 
		<div class="row">
			
			<div class="col-md-3 col-sm-5" ng-controller="subscribe">
				<div ng-include="'/partials/elements/subscribe.modal.html'"></div>

				<div class="avatar profile text center">
					<img class="ui image circular" 
						src="<%= user.avatarImg %>"
					>
					<h4 class="ui header">
						<%= user.firstname %> <%= user.lastname %>
					</h4>
					
					<md-button aria-label="button actions"
						ng-click="subscribe({ 
							email: <%= req.session.user ? '"'+req.session.user.email+'"' : null %>,
							user: <%= req.session.user ? '"'+req.session.user.id+'"' : null %>, 
							auth: <%= req.session.auth ? req.session.auth : false %>, 
							parentElement: '.page.profile .profile.header',
							purpose: '<%= user.id %>', 
							type: 'author', 
						})"
						>
						<md-tooltip>{{ 'subscribe to this author' | translate | capitalize:'first'}}</md-tooltip>
						<i class="fa fa-envelope"></i> {{ 'subscribe' | translate}}
					</md-button>
					

				</div>
				
				<md-button ng-click="openLink('/byauthor/<%= user.username %>')" class="byauthor">
					<md-tooltip>
						{{ 'all posts by this user' | translate | capitalize:'first'}}
					</md-tooltip>
					<i class="fa fa-newspaper-o"></i> {{ 'posts this author' | translate}}
				</md-button>

			</div>

			<div class="col-md-9 col-sm-7">
				<!-- About & Activities -->
				<div class="ui segment content">
					<div class="row">
						<div class="col-md-6">
							<div class="ui header text center">
								{{ "about me" | translate | capitalize:'first'}}
								<div class="ui horizontal divider">
									<i class="fa fa-child"></i>
								</div>
							</div>
							<p class="content">
								<%= user.aboutMe %>
							</p>
						</div>
						<div class="col-md-6">
							<div class="ui header text center">
								{{ "activities me" | translate | capitalize:'first'}}
								<div class="ui horizontal divider">
									<i class="fa fa-cogs"></i>
								</div>
							</div>
							<p class="content">
								<%= user.activitiesMe %>
							</p>
						</div>
					</div>
				</div>
				<!-- End About & Activities -->
			</div>
		</div>
	</div>
</div>

<%- partial("../partials/footer.ejs") %>