<script>
window.sessionUsername = "<%= session.user.username %>";
window.username = "<%= user.username %>";
window.usingModule.push(
	"angularFileUpload"
);
</script>

<%- script("/libs/ng-file-upload/angular-file-upload.js") %>
<%- script("/js/app/settings/uploadAvatar.js") %>
<%- script("/js/app/settings/uploadHeader.js") %>
<%- script("/js/app/settings/updatePersonal.js") %>
<%- script("/js/app/appSettings.js") %>

<div ng-controller="SettingsCtrl as settings" class="page settings">
	
	<div class="ui segment header text center">
		<%- partial("../partials/menu.ejs") %>
		
		<!-- Main UI header in settings page. -->
		<h3 class="ui header">
			{{ 'settings' | translate | uppercase }}
			<div class="ui horizontal divider">
				<i class="fa fa-gear icon"></i> 
			</div>
			<div class="sub header">
				{{ 'the settings page of the user' | translate | capitalize:'first'}}
			</div>
		</h3>

	</div>

	<div class="ui basic segment">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="ui segment content page">
					<personal></personal>
					<div class="row" style="margin-top: 4rem;">
						<upload-avatar class="col-md-6"></upload-avatar>
						<upload-header class="col-md-6"></upload-header>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>