<input type="hidden" value="<%= user.username %>" name="username">
<% var locale = req.getLocale(); %>

<div class="ui basic segment subscribes">
	<div class="ui segment material">
		<h2 class="ui header text-center">
			<%= __("My subscriptions") %>
			<div class="sub header">
				<%= __("%s subscriptions", _.size(subscribes)) %>
			</div>
		</h2>
		<div class="ui basic segment">
			<div class="row">
				<div class="col-md-2 hidden-sm"></div>
				<div class="col-md-8 col-sm-12">
					<div id="message"></div>
					<div class="ui list divided">
						<% _.each(subscribes, function (subscribe) { %>
						<div class="item" data-subscribeid="<%= subscribe.id %>">
							<!-- Floated Content -->
							<div data-subscribe="<%= subscribe.id %>" class="right floated compact ui button unsubscribe"><%= __("unsubscribe") %></div>

							<!-- Images Subscribe -->
							<% if (subscribe.info.type === "Hab") {%>
								<a href="/hab/<%= subscribe.info.content.translitName %>" class="ui image avatar">
									<img src="<%= subscribe.info.content.headingImg %>" alt="">
								</a>
							<%} else if (subscribe.info.type === "Author") {%>
								<a href="<%= subscribe.info.content.username %>" class="ui avatar image">
									<img src="<% if (subscribe.info.content.avatarImg) {%><%= subscribe.info.content.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="" class="ui avatar image">
								</a>
							<%} else {%>
								<img src="/images/image.png" alt="" class="ui avatar image">
							<%}%>
							<!-- Content -->
							<div class="content">
								<!-- Header -->
								<% if (subscribe.info.type === "Hab") {%>
									<a href="/hab/<%= subscribe.info.content.translitName %>" class="header">
										<% if (_.find(subscribe.info.content.name, {"locale": locale})) {%>
											<%= (_.find(subscribe.info.content.name, {"locale": locale})).name %>
										<%} else {%>
											<%= subscribe.info.content.translitName %>
										<%}%>
										<div class="ui label hidden-xs"><%= __(subscribe.from) %></div>
										<% if (subscribe.activated === true) {%>
											<div class="ui label green hidden-xs"><%= __("Activated") %></div>
										<%} else {%>
											<div class="ui label red hidden-xs"><%= __("Not activated") %></div>
										<%};%>
									</a>
								<%} else if (subscribe.info.type === "Author") {%>
									<a class="header" href="/profile/<%= subscribe.info.content.username %>">
										<%= subscribe.info.content.firstname %> <%= subscribe.info.content.lastname %>
										<div class="ui label hidden-xs"><%= __(subscribe.from) %></div>
										<% if (subscribe.activated === true) {%>
											<div class="ui label green hidden-xs"><%= __("Activated") %></div>
										<%} else {%>
											<div class="ui label red hidden-xs"><%= __("Not activated") %></div>
										<%};%>
									</a>
								<%};%>
								<!-- Description -->
								<div class="description">
									<% if (subscribe.info.type === "Hab") {%>
										<% if (_.find(subscribe.info.content.description, {"locale": locale})) {%>
											<%= (_.find(subscribe.info.content.description, {"locale": locale})).desc %>
										<%} else {%>
											<%= (_.find(hab.description, {"locale": "en"})).desc %>
										<%};%>
									<%} else if (subscribe.info.type === "Author") {%>
										<%= subscribe.info.content.aboutMe || __("not specified") %>
									<%}%>
									<div data-subscribe="<%= subscribe.id %>" class="compact ui button unsubscribe hidden-hs-device"><%= __("unsubscribe") %></div>
								</div>
							</div>
						</div>
						<% }); %>
					</div>
				</div>
				<div class="col-md-2 hidden-sm"></div>
			</div>
		</div>
	</div>
</div>

<script>
	i18n = {
		serverError: "<%= __("There was a server error, please try again later.") %>"
	}
</script>
<script src="/js/event/subscribesProfile.js"></script>