<!--noindex-->
<!--googleoff: all-->

<header>
  
  <div class="ui secondary menu header">
    <a href="/" class="brand">
      ME DIGESTS
    </a>
  
    <a class="item sidebar show_">
      <i class="fa fa-bars"></i> <%= __("menu") %>
    </a>
  
    <a href="/latest" class="item">
      <%= __("latest") %>
    </a>
  
    <a href="/popular" class="item">
      <%= __("popular") %>
    </a>
  
    <a href="/habs" class="item">
      <%= __("habs") %>
    </a>
  
    <a href="/projects" class="item">
      <%= __("projects") %>
    </a>
  
    <div class="right menu">
      <% if (!session.auth) {%>
      <div class="item">
        <a href="/register" class="ui basic button">
          <%= __("Become a blogger") %>
        </a>
      </div>
      <div class="item">
        <a class="ui basic button login">
          <%= __("Login") %>
        </a>
      </div>
      <%} else if (session.auth == true && session.user) {%>
      <div class="item addpost">
        <a href="/profile/<%= session.user.username %>/addpost" class="ui basic button">
          <i class="fa fa-plus"></i> <%= __("Add post") %>
        </a>
      </div>
      <div class="item">
        <a href="/profile/<%= session.user.username %>/settings" class="ui basic button settings"><i class="fa fa-cog"></i></a>
      </div>
      <div class="item avatar">
        <a href="/profile/<%= session.user.username %>" class="ui image avatar">
          <% var avatarImg = _.find(session.user.avatarImg, {"restrict": "preview"}); %>
          <img src="<% if (session.user.avatarImg.length>0) {%><%= avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
        </a>
      </div>
      <a href="/profile/<%= session.user.username %>" class="item user_">
        <span><%= session.user.username.substr(0,1) %></span><%= session.user.username.substr(1,120) %>
      </a>
      <% }; %>
    </div>
  </div>
</header>

<!-- googleon: all-->
<!--/noindex-->
