<%var markdown=new remarkable({langPrefix:"language-",typographer:false,xhtmlOut:false,linkify:true,breaks:true,html:false,quotes:'“”‘’',highlight:function(str,lang){var e;if(lang&&hljs.getLanguage(lang)){try{return hljs.highlight(lang,str).value;}catch(_error){e=_error;console.log(e);}}try{return hljs.highlightAuto(str).value;}catch(_error){e=_error;console.log(e);}return"";}})%>

<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>

<!-- Subscribe Action Modal -->
<div class="ui modal subscribe">
  <i style="color: rgba(0,0,0,0.87);" class="close icon"></i>
  <div class="header">
    <%= __("Subscribe to author") %> <%= user.firstname %> <%= user.lastname %>
  </div>
  <div class="content">
		<div class="ui header"><i class="ifc-message icon massive"></i></div>
    <div class="description">
      <p><%= __("Are you sure you want to subscribe to the publication by this author?") %></p>
      <p>
      	<% if (session.auth && session.auth == true) {%>
					<%= __("You are an authorized user.") %>
      	<%} else {%>
					<%= __("You are not logged in. To use the more advanced functionality subscriptions login or register. To receive the newsletter without registration, enter your email and mailing interval.") %>
      	<%};%>
      </p><br>
  		<!-- Fields -->
				<% if (session.auth) {%>
				<input type="hidden" name="user" value="<%= session.user.id %>">
				<input type="hidden" name="email" value="<%= session.user.email %>">
				<%}; %>
				<input type="hidden" name="from" value="Author">
				<input type="hidden" name="by" value="<%= user.id %>">
  		<!-- /Fields -->
      <% if (!session.auth || session.auth !== true) {%>
				<div class="group">      
					<input type="text" name="email" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label><%= __("Your email") %></label>
				</div>
      <%};%>
    </div>
  </div>
  <div class="actions">
    <div class="ui button negative">
      <%= __("Exit") %>
    </div>
    <div class="ui button positive">
			<%= __("Subscribe") %>
    </div>
  </div>
</div>

<!-- Main posts by user %s -->
<div class="ui basic segment hab-info">
	<div class="row posts_by_author">
		
		<div class="hab_ post col-md-3 col-sm-6 col-xs-12">
			<div class="ui segment material text-center">
				<div style="text-align: center; padding-top: 20px;">
					<a class="ui image circular" style="height:100px;" href="/profile/<%= user.username %>">
						<img style="height: 100px;" src="<% if (user.avatarImg) {%><%= user.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
					</a>
				</div>
				<div class="title">
					<h4 class="ui header without-thumb">
						<a href="/profile/<%= user.username %>"><%= user.firstname+" "+user.lastname %></a>
						<div class="sub header">
							<%= countSubscribers %> <%= __("Subscribers") %>
						</div>
					</h4>
				</div>
				<div class="content">
					<%= user.aboutMe %> <br>
				</div>
				<div class="buttons">
					<a href="/rss/author/<%= user.username %>.xml?locale=<%= req.getLocale() %>" class="link waves-effect waves-button">
						<i class="ifc-rss"></i> 
						<%= __("RSS Feed") %>
					</a>
					<a id="modal_subscribe" class="link waves-effect waves-button">
						<i class="ifc-read_message"></i> 
						<%= __("Subscribe") %>
					</a>
				</div>
			</div>
		</div>

		<% "### Each posts ###" %>
		<% _.each(posts, function (post) { %>
			<div class="post col-md-3 col-sm-6 col-xs-12">
				<div class="ui segment material">
					<div class="title">
						<% if (post.headerImg) {%> <a href="/details/<%= post.id %>"><img src="<%= post.headerImg%>" alt=""></a> <%}%>
						<h4 class="ui header without-thumb">
							<a href="/details/<%= post.id %>"><%= post.title %></a>
							<div class="sub header"></div>
						</h4>
					</div>
					<div class="content">
						<% var content = markdown.render(post.content); %>
						<p><%= xss(content.substr(0, 250)+"...", {whiteList: [], stripIgnoreTag: true, stripIgnoreTagBody: ['script']}) %></p>
					</div>
					<div class="ui divider"></div>
					<div class="buttons">
						<div class="yashare-auto-init" data-yashareL10n="<%= req.getLocale() %>" data-yashareTitle="<%= post.title %>" data-yashareType="link" data-yashareLink="<%= (sails.config.app.url+"/details/"+post.id) %>" data-yashareQuickServices="" data-yashareImage="<%= post.headerImg %>" data-yashareDescription="<%= content.substr(0, 250)+"..." %>"></div>
						<a href="/details/<%= post.id %>" class="link waves-effect waves-button"><i class="ifc-bookmark"></i>ЧИТАТЬ</a>
						<% if (session.auth == true && session.user && session.user.username === req.param("username")) {%>
						<a class="link waves-effect waves-button" href="/profile/<%= session.user.username %>/edit/<%= post.id %>"><%= __("Edit") %></a>
						<%};%>
					</div>
				</div>
			</div>
		<% }); %>

		<div class="hab_ post col-md-3 col-sm-6 col-xs-12">
			<a style="color: rgba(0,0,0,0.87);" href="/byauthor/<%= req.param("username") %>/<%= (req.param("page", 1)+1) %>" class="ui segment material text-center waves-effect waves-float waves-light">
				<h1><i class="ifc-forward"></i></h1>
				<h4 style="font-weight: 400;"><%= __("Next page") %></h4>
			</a>
		</div>

	</div>
</div>

<%- partial("../partials/footer.ejs") %>

<script>
	i18n = {
		success: "<%= __("success") %>",
		error: "<%= __("Error! Please refresh this page, and try again") %>"
	};
</script>
<script src="/js/event/subscribeAuthor.js"></script>

<script>
$(document).ready(function () {
	$(".post img").addClass("not-loaded");
	
	$(".row.posts_by_author").masonry({
	  itemSelector: ".post",
	  columnWidth: ".post"
	});
	
	$(".post img.not-loaded").lazyload({
		effect: "fadeIn",
		load: function () {
			$(this).removeClass("not-loaded");
			
			$(".row.posts_by_author")
				.masonry("reloadItems")
				.masonry()
			;
		}
	});

	$.getScript("http://cdn.jsdelivr.net/jquery.lazyload/1.8.4/jquery.lazyload.js", function () {
		$(".row.posts_by_author").imagesLoaded(function () {
			$(".row.posts_by_author")
				.masonry("reloadItems")
				.masonry()
			;
		});
	});
});
</script>

<script defer>
	$(document).ready(function () {
		setTimeout(function () {
			$(".b-share__text").each(function(c, elem) {
			  $(this).prepend("<i class=\"ifc-speech_bubble\"></i> ");
			});
		}, 50);
	})
</script>
