<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
<script src="/js/hPatterns/<%= post.locale %>.js"></script>

<script>
	window.postLocale = "<%= post.locale %>";
	window.postId = "<%= post.numericId %>";
</script>

<div class="page details">
	<%- partial("../partials/menu.ejs") %>
	
	<div class="ui basic segment">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="ui segment post">
					<% var headerImg = _.find(post.headerImg, {"restrict": "full"}); %>
					<% var headerImgPreview = _.find(post.headerImg, {"restrict": "preview"}); %>
					<% if (headerImg) {%>
					<div class="post header image text center">
						<img src="<%= headerImg.link %>" alt="">
					</div>
					<%};%>

					<div class="post title">
						<h3 class="ui header"><%= post.title %></h3>
					</div>

					<div class="post info text center">
						<span class="views">
							<i class="fa fa-eye"></i> <%= post.showed %> {{ '- showed' | translate | capitalize:'first'}}
						</span>
						<span class="createdDate">
							<i class="fa fa-calendar"></i> {{ 'added -' | translate | capitalize:'first'}} <%= post.createdAt %>
 						</span>
						<span class="nofcomments">
							<i class="fa fa-comment"></i> <%= CountComments %> {{ '- comments' | translate}}
						</span>
						<% if ((session.auth && session.user.username === author.username) || req.session.user.admin == true) {%>
						<a href="/profile/<%= author.username %>/edit/<%= post.numericId %>">
							<i class="fa fa-pencil-square-o"></i> {{ 'edit' | translate}}
						</a>
						<%};%>						
					</div>


					<div class="post habs text center">
						<i class="fa fa-rocket"></i> <% _.each(habs, function (hab, index) { %>
							<a href="/hab/<%= hab.translitName %>"><%= hab.name %></a><% if (index !== (habs.length-1)) {%>, <%}%>
						<% }); %>
					</div>
					
					<div class="text center">
						<div class="yashare-auto-init" 
							data-yashareQuickServices="vkontakte,facebook,twitter" 
							data-yashareTheme="counter" 
							data-yashareL10n="<%= post.locale %>" 
							data-yashareTitle="<%= post.title %>" 
							data-yashareLink="http://digests.me/details/<%= post.numericId %>"  
							data-yashareImage="<% if (headerImgPreview) {%><%= headerImgPreview.link %><%};%>" 
							data-yashareDescription="<%= description %>"
						></div>							
					</div>

					<main class="post content">
						<%- post.content %>
					</main>

					<div class="post footer">
						<div class="ui basic segment">
							<div class="row">
								<div class="col-md-6 text left">
									<i class="fa fa-tags"></i> <% _.each(post.tags.split(/\s*,\s*/), function (tag, index) { %>
										<a href="/search?q=<%= tag %>&#38;by=tag"><%= tag %></a><% if (index !== (habs.length-1)) {%>, <%}%>
									<% }); %>
								</div>
								<div class="col-md-6 text right">
									<a href="/profile/<%= author.username %>" class="ui avatar image">
									<% var authorAvatarImg = _.find(author.avatarImg, {"restrict": "preview"}); %>
									<img src="<% if (authorAvatarImg) {%><%= authorAvatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
									</a>
									<a href="/profile/<%= author.username %>">
										<%= author.firstname %> <%= author.lastname %>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-controller="CommentsListCtrl" ng-include="'/partials/comment/list.html'"></div>
			
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>