<%- partial("../partials/menu.ejs") %>

<div class="posts list header">

</div>

<div class="posts lists main">
	<div class="ui basic segment">
		<div class="row">
			<% _.each(posts, function (post) { %>
				<div class="col-lg-3 col-md-3 col-sm-6 col-sm-12 columnPost">
					
					<div class="post">
						
						<!-- Post heading image -->
						<% if (post.headerImg) {%> 
							<a class="heading image" href="/details/<%= post.id %>">
								<img class="lazy" src="<%= post.headerImg%>" alt="">
							</a> 
						<% }; %>
						
						<!-- Post title link -->
						<div class="title">
							<a href="/details/<%= post.numericId %>">
								<%= post.title %>
							</a>
						</div>
						
						<!-- Post Sinopsis -->
						<div class="sinopsis">
							<%= post.content %>
						</div>

						<!-- Post button share&read -->
						<div class="button group">
							<a href="/details/<%= post.id %>" class="read">
								<%= __("read") %>
							</a>
						</div>

					</div>

				</div>
			<% }); %>
		</div>
	</div>
</div>