<%- script("/libs/masonry/dist/masonry.pkgd.js") %>

<script>
	window.usingModule.push("ngLazyload");

	window.thisPage = <%= page %>;
	window.postsPage = "/myfeed";
	window.locale = "<%= locale %>";
</script>

<%- script("/libs/lodash/lodash.js") %>
<%- script("/stagging/semantic/modules/dropdown.min.js") %>

<%- script("/libs/ng-lazyload/nglazyload.js") %>
<%- script("/js/app/appPosts.js", "defer") %>


<div class="posts list header myfeed">
	<%- partial("../partials/menu.ejs") %>
	
	<h2> {{ 'personal tape posts' | translate | capitalize:'first'}}</h2>
	<p> {{ 'this tape formed according to your preferences and formed from your subscriptions.' | translate | capitalize:'first'}}</p>
	
	<div class="ui icon top left pointing dropdown basic button">
		<i class="options icon"></i> 
		<div class="menu">
			<a href="/profile/<%= session.user.username %>/subscribes" class="item">
				{{ 'my subscriptions' | translate | capitalize:'first' }}
			</a>
		</div>	
	</div>

	<a href="/rss/personalfeeds/<%= session.user.username %>.xml" class="ui icon top left pointing basic button">
		<i class="feed icon"></i>
	</a>
</div>

<div class="posts lists main" ng-controller="PostsCtrl">
	<div class="ui basic segment">
		<div class="row">
			<!-- Server rendered post in posts -->
			<%- partial("../partials/posts.ejs") %>
			<!-- End -->
			
			<!-- Client rendered post in posts -->
			<div masonry-brick ng-repeat="post in posts | orderBy: '-createdAt' " class="col-lg-3 col-md-3 col-sm-6 col-sm-12 masonry-brick">
				<div class="post">		
					<a ng-show="post.previewImage" class="heading image" href="/details/{{post.numericId}}">
						<img post-img ng-src="{{ post.previewImage }}" alt="">
					</a> 	
					<!-- Post title link -->
					<div class="title">
						<a href="/details/{{post.numericId}}">
							{{ post.title }}
						</a>
					</div>	
					<!-- Post Sinopsis -->
					<div class="sinopsis">
						{{post.content}}
					</div>
					<!-- Post button share&read -->
					<div class="button group">
						<a href="/details/{{post.numericId}}" class="read">
							{{"read" | translate}}
						</a>
					</div>
				</div>
			</div>

		</div>
		

	</div>

	<div class="text center">
		<div ng-show="notify" class="notify">
			<div class="ui basic segment">
				<div class="row">
					<div class="col-md-4 col-sm-3 hidden-xs"></div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="ui inverted red segment">
							{{ notify | translate}}
						</div>
					</div>
					<div class="col-md-4 col-sm-3 hidden-xs"></div>
				</div>
			</div>
		</div>
		<md-button ng-click="loadPosts()" class="md-fab mdLoadPostsButton">
			<i class="fa fa-plus"></i>
		</md-button>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>