<script>
	window.thisPage = <%= page %>;
	window.postsPage = "/hab/<%= hab.translitName %>";
	window.locale = "<%= locale %>";
</script>

<style>
	.posts.hab.header {
		background: url('<%= hab.headingImage.link %>') no-repeat fixed top;
		height: 670px;
	}

	.posts.hab.header .blured {
		background: url('<%= hab.navbarImage %>') no-repeat fixed top;
		position: absolute;
		height: 60px;
		width: 100%;
		z-index: 5;	
	}
</style>

<div class="posts hab header">
	<%- partial("../partials/menu.ejs") %>
	
	<h2><%= hab.name %></h2>
	<div class="content">
		<p><%= hab.description %></p>
		
		<div class="ui icon top left pointing dropdown basic button">
			<i class="world icon"></i> 
			<div class="menu">
				<a href="?locale=ru" class="item">{{ 'russian' | translate | capitalize:'all'}}</a>
				<a href="?locale=en" class="item">{{ 'english' | translate | capitalize:'all'}}</a>
				<a href="?locale=pl" class="item">{{ 'polish'	 | translate | capitalize:'all'}}</a>
			</div>	
		</div>
	
		<a href="/rss/hab/<%= hab.translitName %>/<%= locale %>.xml" class="ui icon top left pointing basic button">
			<i class="feed icon"></i>
		</a>		
	</div>

	<div class="text center">
		<i class="fa fa-angle-double-down"></i>
	</div>
</div>

<div class="posts lists main" ng-controller="PostsCtrl">
	<div class="ui basic segment">
		<div class="row">
			<!-- Server rendered post in posts -->
			<%- partial("../partials/posts.ejs") %>
			<!-- End -->
			
			<!-- Client rendered post in posts -->
			<div masonry-brick ng-repeat="post in posts | orderBy: '-createdAt' " class="col-lg-3 col-md-3 col-sm-6 col-sm-12 masonry-brick">
				<div class="post">		
					<a ng-show="post.previewImage" class="heading image" href="/details/{{post.numericId}}">
						<img post-img ng-src="{{ post.previewImage }}" alt="">
					</a> 	
					<!-- Post title link -->
					<div class="title">
						<a href="/details/{{post.numericId}}">
							{{ post.title }}
						</a>
					</div>	
					<!-- Post Sinopsis -->
					<div class="sinopsis">
						{{post.content}}
					</div>
					<!-- Post button share&read -->
					<div class="button group">
						<a href="/details/{{post.numericId}}" class="read">
							{{"read" | translate}}
						</a>
					</div>
				</div>
			</div>

		</div>
		

	</div>

	<div class="text center">
		<div ng-show="notify" class="notify">
			<div class="ui basic segment">
				<div class="row">
					<div class="col-md-4 col-sm-3 hidden-xs"></div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="ui inverted red segment">
							{{ notify | translate}}
						</div>
					</div>
					<div class="col-md-4 col-sm-3 hidden-xs"></div>
				</div>
			</div>
		</div>
		<md-button ng-click="loadPosts()" class="md-fab mdLoadPostsButton">
			<i class="fa fa-plus"></i>
		</md-button>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>