<!DOCTYPE html>
<html>
  <head>
    <title><%= __("Server Error") %></title>
  </head>
  <body>
    <%- partial("partials/menu.ejs") %>
    <div class="error-page">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="title">500</h2>
          <h4><%= __("Server Error") %></h4>
          <% if (typeof error !== 'undefined') { %>
            <p class="message"><%= error %></p>
          <% } else { %>
            <p class="message"><%= __("There was a server error, please try again later.") %></p>
          <% } %>
          <md-button href="/" class="md-fab">
            <i class="fa fa-home"></i>
          </md-button>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </body>
</html>
