<!DOCTYPE html>
<html>
	<head>
		<title>		
			<%= title || sails.config.app.name %>
		</title>

		<%- meta("viewport", "width=device-width, initial-scale=1, maximum-scale=1") %>
		<%- meta("description", sails.config.app.description) %>
		<%- meta("keywords", sails.config.app.keywords) %>

		<script>window.i18nLocale = "<%= req.getLocale() %>";</script>
		
 		<link rel="stylesheet" href="/resources/styles.css">
		<script src="/resources/js.js"></script>
	</head>

	<body>
		<% "body content" %>
		<%- partial("partials/sidebar.left.ejs") %>
		<% if (!session.auth) {%>
		<%- partial("partials/sidebar.top.login.ejs") %>
		<%}%>
		<div class="pusher">
			<%- body %>
		</div>
	</body>
</html>
