<!DOCTYPE html>
<html ng-app="main">
  <head>
    <title>
      <% if (typeof title !== "undefined") {%>
      <%= title %>
      <%} else {%>
      <%= sails.config.app.name %>
      <%};%>
    </title>

    <%- meta("viewport", "width=device-width, initial-scale=1, maximum-scale=1") %>
    <%- meta("description", sails.config.app.description) %>
    <%- meta("keywords", sails.config.app.keywords) %>

    <%- style("/styles/importer.css") %>
    
    <%- script("/libs/angular/angular.js") %>
    
    <%- script("/libs/angular-translate/angular-translate.js") %>
    <%- script("/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.js") %>

    <%- script("/js/dependencies/jquery.min.js") %>
    <%- script("/stagging/semantic/modules/transition.min.js") %>
    <%- script("/stagging/semantic/modules/sidebar.min.js") %>

    <%- script("/js/app/appLogin.js") %>
    <%- script("/js/app/app.js") %>

    <script>window.i18nLocale = "<%= req.getLocale() %>";</script>
  </head>

  <body>
    <% "body content" %>
    <%- partial("partials/sidebar.left.ejs") %>
    <% if (!session.auth) {%>
    <%- partial("partials/sidebar.top.login.ejs")  %>
    <%}%>
    <div class="pusher">
      <%- body %>
    </div>
    <%- script("/js/dependencies/socket.io.min.js") %>
    <%- script("/js/dependencies/sails.io.js") %>
    <%- script("/js/initializationUi.js") %>
  </body>
</html>
