<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if (typeof title !== "undefined") {%>
      <%= title %>
      <%} else {%>
      <%= sails.config.app.name %>
      <%};%>
    </title>

    <%- meta("viewport", "width=device-width, initial-scale=1, maximum-scale=1") %>
    <%- meta("description", sails.config.app.description) %>
    <%- meta("keywords", sails.config.app.keywords) %>

    <%- style("/styles/importer.css") %>
    
  </head>

  <body>
    <% "body content" %>
    <%- body %>

    <% "Javascript" %>
    <%- script("/bower_components/handlebars/handlebars.min.js", "defer") %>
    <%- script("/bower_components/jquery/dist/jquery.min.js", "defer") %>
    <%- script("/bower_components/ember/ember.min.js", "defer") %>
    <%- script("/bower_components/ember-data/ember-data.min.js", "defer") %>
    <% "End Javascript" %>

    <%- script("/js/dependencies/sails.io.js", "async") %>
  </body>
</html>
