<link rel="stylesheet" href="/hightlightJS.color_scheme/base16-default.light.css">
<script src="/bower_components/highlightjs/highlight.pack.js"></script>

<script src="//cdn.jsdelivr.net/remarkable/1.6.0/remarkable.min.js"></script>

<div class="ui long modal" style="background: transparent !important; box-shadow: none;">
	<div class="details" style="background: transparent;">
		<div class="paper box main">
			<main>
				<div class="heading block">
					<h3 class="TitleBlock"></h3>
				</div>
				<div class="content ContentBlock"></div>
				<div class="footer">
					<div class="row">
						<div class="time habInfo col-md-6">
							<span>
								<i class="ifc-calendar"></i>
								<% moment.locale(locale) %>
								<%= moment().format("LL") %>
							</span>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-4 authorInfo"> <!-- Author Info --> </div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

<div class="addpost ui basic segment">
	<h2 class="text-center"><%= __("Edit Article") %></h2>

	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
			<div class="ui segment ">
				<div class="ui form">
					<div class="ui input field">
						<input type="text" name="title" placeholder="<%= __("Enter the title of your article. Length up to 120 characters.") %>" value="<%= post.title %>">
					</div>
					<div class="ui input field">
						<input type="text" name="heading" placeholder="<%= __("Enter a link to an image header of the article. Acceptable formats: JPG, PNG.") %>" value="<%= post.headerImg %>">
					</div>
					<div class="field">
						<textarea name="content" placeholder="<%= __("Enter your post. Markup language - Markdown. Learn other information and tutorials in FAQ.") %>"><%= post.content %></textarea>
					</div>
					<div class="ui input field">
						<input type="text" name="tags" placeholder="<%= __("Enter the tag entries with a comma") %>" value="<%= post.tags %>">
					</div>
					<div id="alert_message"></div>
					<div class="text-center anotherOptions">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="ui checkbox toggle draftState">
								<input type="checkbox">
								<label><%= __("This is a draft?") %></label>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="ui selection dropdown search">
							  <input name="locale" type="hidden">
							  <div class="default text"><%= __("Language") %></div>
							  <i class="dropdown icon"></i>
							  <div class="menu">
							    <div class="item" data-value="en"><%= __("English") %></div>
							    <div class="item" data-value="ru"><%= __("Russian") %></div>
							    <div class="item" data-value="pl"><%= __("Polish") %></div>
							  </div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="ui selection dropdown search">
							  <input name="hab" type="hidden">
							  <div class="default text"><%= __("Hab") %></div>
							  <i class="dropdown icon"></i>
							  <div class="menu">
									<% _.each(habs, function (hab) { %>
										<% var HabName = _.find(hab.name, {"locale": req.getLocale()}) %>
										<div class="item" data-value="<%= hab.id %>"><%= HabName.name %></div>
									<% }) %>
							  </div>
							</div>
						</div>	
					</div><br>
					
					<div class="text-center mainAction">
						<input type="hidden" name="author" value="<%= user.id %>">
						<input type="hidden" name="id" value="<%= post.id %>">

						<div class="ui button submit addAction">
							<%= __("Publish") %>
						</div>
						<div class="ui button previewAction">
							<%= __("Preview") %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2"></div>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>

<script>
	var i18n = {
		error_try_again: "<%= __("Error! Please try again.") %>",
		success: "<%= __("Success. Now you will be redirected to the page of your post.") %>", 
		Hab: "<%= __('Hab') %>"
	};
</script>
<script src="/js/event/editpost.js"></script>
