<script src="/js/plugin/jquery.hypher.js"></script>
<% if (latestPost) {%>
<script src="/js/plugin/h_patterns/<%= latestPost.locale %>.js"></script>
<%}%>

<!-- Stalker jQuery -->
<script src="/bower_components/stalker/jquery.stalker.js"></script>
<!-- End script -->

<%var markdown=new remarkable({langPrefix:"language-",typographer:false,xhtmlOut:false,linkify:true,breaks:true,html:false,quotes:'“”‘’',highlight:function(str,lang){var e;if(lang&&hljs.getLanguage(lang)){try{return hljs.highlight(lang,str).value;}catch(_error){e=_error;console.log(e);}}try{return hljs.highlightAuto(str).value;}catch(_error){e=_error;console.log(e);}return"";}})%>

<% var capitaliseFirstLetter = function (string) {return string.charAt(0).toUpperCase() + string.slice(1);} %>

<link rel="stylesheet" href="/styles/profile.css">
<div class="profile heading" style="background: url(<% if (user.headingImg) {%><%= user.headingImg.link %><%} else {%>/images/profile.jpg<%};%>) no-repeat fixed;">
	<div class="darker">
		<div class="ui basic segment">
			<div class="row">
				<div class="col-md-2 text-center">
					<div class="ui avatar image">
						<img src="<% if (user.avatarImg) {%><%= user.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
					</div>
				</div>
				<div class="col-md-4">
					<h2>
						<%= user.firstname%> <%= user.lastname %>
					</h2>
					<h4><a href="mailto:<%= user.email %>"><%= user.email%></a></h4>
					<% if (user.online == true) {%>
						<div class="ui label green">online</div>
					<%} else {%>
						<div class="ui red label">offline</div>
					<%};%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui segment basic profile main">
	<% if (session.auth == true && session.user && session.user.username == user.username && !session.user.activation) {%>
	<div class="ui red inverted segment">
		<p><i class="ifc-error"></i> <%= __("Warning! You have not activated your account via email. If you want to use all the features of the service - you need to activate your account via the link in the email sent to your email. If after 24 hours you do not activate your account - it will be removed.") %></p>
	</div>
	<%};%>

	<div class="info profile">
		<div class="row">
			<div class="col-md-8">
				<div class="ui segment">
					<div class="row user-info">
						<div class="col-md-6">
							<h4><%= __("about me") %></h4>
							<p>
								<% if (user.aboutMe) {%><%= user.aboutMe %><%} else {%>
									<%= __("not specified") %>
								<%};%>
							</p>
						</div>
						<div class="col-md-6">
							<h4><%= __("activities") %></h4>
							<p>
								<% if (user.activitiesMe) {%> <%= user.activitiesMe %> <%} else {%>
									<%= __("not specified") %>
								<%};%>
							</p>							
						</div>
					</div>
				</div>
				<div class="ui segment lastpost">
					<h4><%= __("latest post") %></h4>
					<% if (latestPost) {%>
					<div class="ui divider"></div>
					<div class="post_" lang="<%= latestPost.locale %>">
						<h5><%= latestPost.title %></h5>
						<% var content = markdown.render(latestPost.content); %>
						<p><%= xss(content.substr(0, 250)+"...", {whiteList: [], stripIgnoreTag: true, stripIgnoreTagBody: ['script']}) %></p>
						<a href="/details/<%= latestPost.id %>"><%= __("read") %></a>
						<a style="margin-left: 2rem;" href="/byauthor/<%= user.username %>"><%= __("all posts") %></a>
					</div>
					<%} else {%>
						<p><%= __("not specified") %></p>
					<%};%>
				</div>
			</div>
			<div class="col-md-4">
				<div class="ui segment text-center">
					<div class="ui statistics">
						<div class="statistic">
							<div class="value">
								<%= countComments %>
							</div>
							<div class="label">
								<%= capitaliseFirstLetter(__("comments")) %>
							</div>
						</div>
						<div class="statistic">
							<div class="value">
								<%= countPosts %>
							</div>
							<div class="label">
								<%= capitaliseFirstLetter(__("posts")) %>
							</div>
						</div>
						<div class="statistic">
							<div class="value">
								<%= countSubscribes %>
							</div>
							<div class="label">
								<%= capitaliseFirstLetter(__("Subscribers")) %>
							</div>
						</div>
					</div>
				</div>
				<div class="ui segment contact">
  				<div style="background: rgba(255,255,255,0.80) !important;" class="ui active inverted dimmer">
  				  <div class="ui text loader"><%= capitaliseFirstLetter(__("coming soon")) %>...</div>
  				</div>
					<h4><%= __("social network") %></h4>
					<div class="ui divider"></div>
					<a class="ui tiny image" href="#"><img src="/images/social/facebook.svg" alt=""></a>
					<a class="ui tiny image" href="#"><img src="/images/social/vk.png" alt=""></a>
					<a class="ui tiny image" href="#"><img src="/images/social/twitter.svg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</div>

<%- partial("../partials/footer.ejs") %>

<script>
$(document).ready(function () {

	<% if (session.auth == true && session.user && session.user.username == user.username) {%>
		// scale transition for error segment
		$(".ui.red.inverted.segment")
			.transition({
				animation: "scale",
				duration: "500ms"
			})
		;
	<%};%>

	$(".ui.menu").stalker({
		startCallback: function () {
			$(".ui.menu").addClass("fixeds").css({"margin": "0"});
		},
		stopCallback: function () {
			$(".ui.menu").removeClass("fixeds").css({"margin": "auto"});
		}
	});
	<% if (latestPost) {%>
	$('.post_ p').hyphenate("<%= latestPost.locale %>");
	<%}%>
});
</script>
