<link rel="stylesheet" href="/bower_components/blueimp-file-upload/css/jquery.fileupload.css">

<script src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/bower_components/blueimp-load-image/js/load-image.all.min.js"></script>
<script src="/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
<script src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="/bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>

<div class="ui basic segment settings profile">

	<div class="ui segment material">
		<h2><%= __("Settings") %></h2>
		<div class="row">
			
			<div class="col-md-2 col-sm-12 col-xs-12 text-center avatar">
				<h4><%= __("Avatar") %></h4>

				<div class="ui image small">
					<img src="<% if (user.avatarImg) {%><%= user.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
				</div>
				
				<div id="message_avatar"></div>
					<div class="row">
						<div class="col-md-12 col-sm-6 col-xs-12">
							<div class="ui animated fade button fileinput-button">
							  <div class="visible content">
							  	<i class="ifc-stack_of_photos"></i> <%= __("Change avatar") %>
							  </div>
							  <div class="hidden content">
							    <i class="ifc-ssd"></i> <%= __("Select file") %>
							  </div>
								<input id="avatar" type="file" name="file">
							</div>
						</div>
						<div class="col-md-12 col-sm-6 col-xs-12">
							<div class="ui upload disabled button">
								<i class="ifc-upload2"></i> <%= __("Upload") %>
							</div>
						</div>
					</div>
					<!-- Hidden input options -->
					<input type="hidden" name="username" value="<%= user.username %>">
			</div>

			<div class="col-md-10 info">
				<div class="ui basic segment">
					<div class="ui horizontal divider">
						<%= __("Personal") %>
					</div>

					<div class="ui form personal">
						<div class="row">
							<div class="col-md-4">
								<div class="ui input field">
									<input type="text" name="firstname" value="<%= user.firstname %>" placeholder="<%= __("firstname") %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="ui input field">
									<input type="text" name="lastname" value="<%= user.lastname %>" placeholder="<%= __("lastname") %>">
								</div>
							</div>
							<div class="col-md-4">
								<div class="ui input disabled">
									<input type="text" name="email" value="<%= user.email %>">
								</div>
							</div>
							<div class="col-md-12">
								<div class="field">
									<textarea name="aboutme" cols="30" rows="10" placeholder="<%= __("about me") %>"><% if (user.aboutMe) {%><%= user.aboutMe %><%} %></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="field">
									<textarea name="activitiesme" placeholder="<%= __("activities me") %>"><% if (user.activitiesMe) {%><%= user.activitiesMe %><%} %></textarea>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 text-center">
								<div id="message_personal"></div>
								<div class="ui submit button" style="margin-bottom: 20px; margin-top: 20px;">
									<i class="ifc-update"></i> <%= __("Update") %>
								</div>
							</div>
						</div>
					</div>

					<div class="ui horizontal divider">
						<%= __("Change password") %>
					</div>

					<div class="ui form newpass">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="ui input field">
									<input type="password" name="newpass" placeholder="<%= __("Enter new password") %>">
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="ui input field">
									<input type="password" name="confirm" placeholder="<%= __("Retype new password") %>">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="ui button submit fluid" style="margin-top: 10px;">
									<i class="ifc-password"></i> <i class="ifc-update"></i>
									<%= __("Update password") %>
								</div>
							</div>
						</div>
						<div id="message_newpass"></div>
					</div>

					<div class="ui horizontal divider" style="margin-top: 25px;">
						<%= __("Upload heading profile image")  %>
					</div>
					<div id="message_heading"></div>
					<div class="row heading" style="margin-top: 10px;">
						<div class="col-md-6 col-sm-6">
							<div class="ui animated green fluid fade button fileinput-button">
							  <div class="visible content">
							  	<i class="ifc-stack_of_photos"></i> <%= __("Change heading profile") %>
							  </div>
							  <div class="hidden content">
							    <i class="ifc-ssd"></i> <%= __("Select file") %>
							  </div>
								<input id="heading" type="file" name="file">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="ui upload button disabled fluid">
								<i class="ifc-upload"></i> <%= __("Upload") %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<%- partial("../partials/footer.ejs") %>

<script>
	var i18n = {
		notAcceptedTypes: "<%= __("Not accepted file types.") %>",
		error_try_again: "<%= __("Error! Please try again.") %>",
		fileSizeIsBig: "<%= __("File size is too big.") %>",
		success: "<%= __("Success") %>",
	};
</script>
<script src="/js/event/settingsProfile.js"></script>