  <div class="heading sb" style="background: url(/images/unauth_sb.jpg);">
    <div class="darken">
      <div class="unauth-btn">
        <a href="/login"    class="sidebar-login-btn waves-effect waves-float waves-button"><%= __("Login") %></a>
        <a href="/register" class="sidebar-register-btn waves-effect waves-float waves-button"><%= __("Register") %></a>
      </div>
    </div>
    <div class="links">
      <a href="/habs" class="item waves-effect">
        <i class="ifc-flow_chart icon"></i>
        <%= __("Projects and Habs") %>
      </a>
      <a href="/search" class="item waves-effect">
        <i class="icon ifc-search"></i>
        <%= __("Search on Site") %>
      </a>
      <a href="mailto:feedback@digests.me" class="item waves-effect">
        <i class="icon ifc-help"></i>
        <%= __("Feedback") %>
      </a>
    </div>
  </div>
  <style>.darken {background: transparent !important;}</style>