  <div class="heading sb" style="background: url(<% if (session.user.headingImg) {%><%= session.user.headingImg.link %><%} else {%>/images/profile.jpg<%};%>) no-repeat; background-size: cover;">
    <div class="darken">
      <div class="ui grid info">
        <div class="five wide column waves-effect waves-circular">
          <img src="<% if (session.user.avatarImg) {%><%= session.user.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="" class="ui image circular">
        </div>
        <div class="eleven wide column">
          <h2 class="ui header"><%= session.user.firstname %> <%= session.user.lastname %></h2>
        </div>
      </div>
      <div class="ui grid events">
        <div class="five wide column"></div>
        <div class="eleven wide column" style="text-align: right;">
          <a href="/profile/<%= session.user.username %>/settings"><i class="icon ifc-settings"></i></a>
          <a href="/profile/<%= session.user.username %>"><i class="icon ifc-user_male4"></i></a>
        </div>
      </div>
    </div>
    <div class="links">
      <a href="/profile/<%= session.user.username %>/addpost" class="item waves-effect">
        <i class="icon ifc-edit"></i>
        <%= __("Add Article") %>
      </a>
      <a href="/habs" class="item waves-effect">
        <i class="ifc-flow_chart icon"></i>
        <%= __("Projects and Habs") %>
      </a>
      <a href="/profile/<%= session.user.username %>/favorites" class="item waves-effect">
        <i class="icon ifc-christmas_star"></i>
        <%= __("My Favorites") %>
      </a>
      <a href="/profile/<%= session.user.username %>/subscribes" class="item waves-effect">
        <i class="icon ifc-read_message"></i>
        <%= __("My Subscribes") %>
      </a>
      <a href="/profile/<%= session.user.username %>" class="item waves-effect">
        <i class="icon ifc-user_male4"></i>
        <%= __("My Profile") %>
      </a>
      <a href="/search" class="item waves-effect">
        <i class="icon ifc-search"></i>
        <%= __("Search on Site") %>
      </a>
      <a href="mailto:feedback@digests.me" class="item waves-effect">
        <i class="icon ifc-help"></i>
        <%= __("Feedback") %>
      </a>
      <a href="/logout" class="item waves-effect">
        <i class="icon ifc-exit"></i>
        <%= __("Logout") %>
      </a>
    </div>
  </div>