<%var markdown=new remarkable({langPrefix:"language-",typographer:false,xhtmlOut:false,linkify:true,breaks:true,html:false,quotes:'“”‘’',highlight:function(str,lang){var e;if(lang&&hljs.getLanguage(lang)){try{return hljs.highlight(lang,str).value;}catch(_error){e=_error;console.log(e);}}try{return hljs.highlightAuto(str).value;}catch(_error){e=_error;console.log(e);}return"";}})%>

<div class="ui basic segment searches">
	<h4 class="text-center"><%= __("Search on Site") %></h4>
	<div class="row">
		<div class="col-md-2 col-sm-1"></div>
		<div class="col-md-8 col-sm-10 col-xs-12">
			<form action="" method="get" class="ui action fluid input form">
				<input name="q" placeholder="<%= __("Enter your query here") %>" type="text" value="<%= req.param("q", "") %>">
				<div class="ui left icon submit button">
					<i class="icon ifc-search"></i>	<span class="hidden-xs"><%= __("Search") %></span>
				</div>
			</form>
		</div>
		<div class="col-md-2 col-sm-1"></div>
	</div>
	<% if (typeof posts !== "undefined" && posts[0]) {%>
		<div class="row">
		<% _.each(posts, function (post) { %>
			<div class="post col-md-3 col-sm-6 col-xs-12">
				<div class="ui segment material">
					<div class="title">
						<% if (post.headerImg) {%> <a href="/details/<%= post.id %>"><img src="<%= post.headerImg%>" alt=""></a> <%}%>
						<h4 class="ui header <% if (!post.thumb && (_.size(post.thumb)==0)) {%>without-thumb<%}%>">
							<a href="/details/<%= post.id %>"><%= post.title %></a>
						</h4>
					</div>
					<div class="content">
						<% var content = markdown.render(post.content); %>
						<p><%= xss(content.substr(0, 250)+"...", {whiteList: [], stripIgnoreTag: true, stripIgnoreTagBody: ['script']}) %></p>
					</div>
					<div class="ui divider"></div>
					<div class="buttons">
						<a href="/utils/share?where=vk&#38;post=<%= post.id %>" class="link waves-effect waves-button"><%= __("share") %></a>
						<a href="/details/<%= post.id %>" class="link waves-effect waves-button"><%= __("read") %></a>
					</div>
				</div>
			</div>
		<% }); %>
		</div>
	<%};%>
</div>

<script>
	$(".ui.form .ui.submit.button").click(function() {
		var query = $(".ui.form input").val();

		window.history.pushState({}, $("title").text(), window.location.toString());
		window.location.replace("/search?q="+query);
	});
</script>