<% _.each(posts, function (post) { %>
  <div class="post col-md-3 col-sm-6 col-xs-12">
    <div class="ui segment material">
      <div class="title">
        <% if (post.headerImg) {%> <a href="/details/<%= post.id %>"><img src="<%= post.headerImg%>" alt=""></a> <%}%>
        <h4 class="ui header <% if (!post.thumb && (_.size(post.thumb)==0)) {%>without-thumb<%}%>">
          <a href="/details/<%= post.id %>"><%= post.title %></a>
        </h4>
      </div>
      <div class="content">
        <p><%= post.content %></p>
      </div>
      <div class="ui divider"></div>
      <div class="buttons">
        <a href="/utils/share?where=vk&#38;post=<%= post.id %>" class="link waves-effect waves-button"><%= i18n.share %></a>
        <a href="/details/<%= post.id %>" class="link waves-effect waves-button"><%= i18n.read %></a>
      </div>
    </div>
  </div>
<% }); %>