<script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
<script src="/js/plugin/jquery.hypher.js"></script>
<script src="/js/plugin/h_patterns/<%= post.locale %>.js"></script>

<link rel="stylesheet" href="/hightlightJS.color_scheme/base16-default.light.css">

<%var markdown=new remarkable({langPrefix:"language-",typographer:false,xhtmlOut:false,linkify:true,breaks:true,html:false,quotes:'“”‘’',highlight:function(str,lang){var e;if(lang&&hljs.getLanguage(lang)){try{return hljs.highlight(lang,str).value;}catch(_error){e=_error;console.log(e);}}try{return hljs.highlightAuto(str).value;}catch(_error){e=_error;console.log(e);}return"";}})%>

<div class="ui basic segment details">
	<div class="row">
		<div class="col-md-2">
			
		</div>

		<div class="col-md-8">
			<div class="paper box main">
				<main lang="<%= post.locale %>">
					<div class="heading block">
						<% if (post.headerImg) {%> <img src="<%= post.headerImg%>" alt=""> <%}%>
						<h3><%= post.title %></h3>
						<div class="info_">
							<div class="comments_">
								<% if(_.size(comments)<= 0) {%>
									<i class="ifc-speech_bubble"></i>	<%= "0 "+__("Comments") %>. 
								<%} else {%>
									<i class="ifc-speech_bubble"></i>	<%= __n("%s comments", "%s comments", _.size(comments)) %>.
								<%}%>
							</div>
							<div class="created_">
								<i class="ifc-calendar"></i>
								<% moment.locale(req.getLocale()) %>
								<%= moment(post.createdAt).format("LL") %>
							</div>
							<div class="views_">
								<i class="ifc-coffee"></i> <%= __("%s Views", post.showed) %>.
							</div>
						</div>
					</div>
					<div class="content">
						<%- post.content %>
					</div>
					<div class="footer">
						<div class="row">
							<div class="col-md-4 col-sm-4 habInfo">
								<% var habName = _.find(hab.name, {"locale": req.getLocale()}) %>
								<a href="/hab/<%= hab.translitName %>"><i class="ifc-bookmark"></i> <%= __("Hab") %>: <%= habName.name %></a>
							</div>
							<div class="col-md-4 col-sm-4">
								
							</div>
							<div class="col-md-4 col-sm-4 authorInfo">
								<a href="/profile/<%= author.username %>" class="ui circular tiny image">
									<img src="<% if (author.avatarImg) {%><%= author.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
								</a>
								<%= author.firstname %> <%= author.lastname %>
							</div>
						</div>
					</div>
				</main>
			</div>
	
			<div class="ui segment material addittional">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="share_text"><i class="ifc-speech_bubble"></i>	<%= __("Share") %></div>
						<div class="yashare-auto-init" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter" data-yashareL10n="<%= req.getLocale() %>" data-yashareTitle="<%= post.title %>" data-yashareLink="<%= (sails.config.app.url+"/details/"+post.id) %>"  data-yashareImage="<%= post.headerImg %>" data-yashareDescription="<%= post.content.substr(0, 250)+"..." %>"></div>			
					</div>
					<div class="col-md-6 col-sm-6">
						<span class="text_"><%= __("Tags") %> :</span> <% _.each(tags, function (tag, index) { %>
							<a href="#"><%= tag %></a>
							<% if (_.size(tags) !== (index+1)) {%>,<%}%>
						<% }) %>
					</div>
				</div>
			</div>

			<div class="comment-block" data-type="comment">
				<h3 class="ui header text-center" style="font-weight: 400; text-transform: uppercase; margin-bottom: 0;">
					<% if(_.size(comments)<= 0) {%>
						<%= __("Comments") %>
					<%} else {%>
						<%= __n("%s comments", "%s comments", _.size(comments)) %>
					<%}%>
				</h3>
				<div class="comments">
					<div class="comment-list">
						<% if (comments <= 0) {%>
						<div class="ui basic segment material">
							<%= __("For the record, no comments.") %>
						</div>
						<%};%>
						<% _.each(comments, function (comment) { %>
							<div class="row comment">
								<div class="col-md-1 col-sm-2 col-xs-12">
									<div class="ui circular tiny image">
										<img src="<% if (comment.author.avatarImg) {%><%= comment.author.avatarImg.link %><%} else {%>/images/avatar.png<%}%>" alt="">
									</div>
								</div>
								<div class="col-md-11 col-sm-10 col-xs-12">
									<h4 class="header"><%= comment.author.firstname %> <%= comment.author.lastname %></h4>
									<p class="text"><%- markdown.render(comment.message) %></p>
									<a class="full_text"><%= __("Read Full") %></a>
								</div>								
							</div>
						<% }) %>
						<% if (session.auth && session.auth == true) {%>
							<div class="row comment addcomment text-center">
								<div class="col-md-12">
									<h4 class="text-center"><%= __("Leave comment") %></h4>
									<div class="ui form newcomment">
										<div class="field">
											<textarea name="comment" cols="30" rows="10" placeholder="<%= __("Enter your comment here. You can use Markdown") %>"></textarea>
											<input type="hidden" name="username" value="<%= session.user.username %>">
											<input type="hidden" name="author" value="<%= session.user.id %>">
										</div>
										<div id="message_comment"></div>
										<div class="ui button submit">
											<%= __("submit") %>
										</div>
									</div>
								</div>
							</div>
						<%};%>
					</div>

				</div>
			</div>
		</div>

		<div class="col-md-2">
			
		</div>
	</div>
</div>

<%- partial("../partials/footer.ejs") %>

<script>
	var locale = "<%= req.getLocale() %>"; 
	var postId = "<%= post.id %>";
	var i18n = {
		updatePage: "<%= __("Please update this page for view your comment.") %>",
		error_try_again: "<%= __("Error! Please try again.") %>",
		success: "<%= __("success") %>", 
		Hab: "<%= __('Hab') %>"
	}; 
</script>
<script src="/js/event/details.js"></script>
